@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

:root {

    --white: #ffffff;
    --main: #FFFFFF;
    --secondary: #03e312;
    --secondary-dark: #02c50f;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Cairo', sans-serif, Arial;

}


html {
    scroll-behavior: smooth;
}

.navbar-toggler-icon {

    font-size: 12px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    font-size: 12px;
    border-color: rgb(255, 255, 255);
}

::selection {
    color: rgb(255, 255, 255);
    background-color: var(--main);
}

body {
    background: var(--main);
}


nav {
    z-index: 200;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.327);

    .nav-link {
        color: rgb(255, 255, 255) !important;
        margin: auto 20px;

    }

    text-transform: uppercase;
}




#totoppls {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 1111;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: black;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 22px;
    /* Increase font size */
    max-width: 50px;
    min-width: 60px;
}


#totoppls {
    &:hover {
        background-color: var(--main-color);
        /* Add a dark-grey background on hover */
    }
}

.navbar-brand {
    font-size: 42px;
    color: white;

    &:hover {
        background-color: rgba(0, 0, 0, 0.301);

        color: var(--secondary) !important;
        text-decoration: underline rgb(255, 255, 255);
    }
}

.search {
    input {

        padding: 10px;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.61);
        border: 1px rgba(255, 255, 255, 0.247) solid;
        margin-right: 50px;

        &::placeholder {
            color: var(--secondary);
        }

    }
}

.carousel-item {

    img {
        height: 100vh;
        object-fit: cover;
        width: 100%;
    }


}

.mbtn {
    background-color: var(--secondary);

    &:hover {
        background-color: var(--secondary-dark) !important;
        color: white !important;
    }
}

.se1 {
    margin-top: 90px;
    display: flex;
    position: relative;
    height: 100vh !important;

    .inimg {
        background-image: url(./images/r.jpg);
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: contain;

    }



    div {
        flex-basis: 50%;

    }

    .wr {
        position: relative;

        .mytxt {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
            transform: translateX(-50%);

            h2 {
                color: var(--secondary);
                font-size: 82px;
                text-transform: uppercase;
            }
        }
    }
}



.se2 {
    position: relative;
    height: 100vh;

    .mytxt2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h3 {
            font-size: 62px;
            color: var(--secondary);
            text-align: center;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-weight: 400;
            text-shadow: 0px 0px 1px black;
            transition: .5s all ease-in-out;
            cursor: pointer;
            border-radius: 7px;

            &:hover {
                background: black;
                padding: 0 50px;
            }
        }

        p {
            color: rgb(255, 255, 255);
            font-size: 22px;
        }

        .tbx {
            color: white;
            background-color: black;
            padding: 20px;
            border-radius: 14px;
            border: 4px white solid;
            width: 125%;

        }
    }
}

.se3 {
    height: 100vh;
}

.vid-c {
    height: 100%;
    position: relative;
    background-color: black;

    video {
        width: 100%;
        height: 100%;
        background-position: center;
        object-fit: cover;

    }

    .txt-v {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 222;
        text-align: center;
        align-content: center;
    }

    h2 {
        font-size: 62px;
        z-index: 222;
        position: relative;
        color: white;
        text-shadow: 0px 0px 3px var(--secondary);

    }

    .scroll-down {
        opacity: 1;
        -webkit-transition: all .5s ease-in 3s;
        transition: all .5s ease-in 3s;
    }

    .scroll-down {
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 2px solid #FFF;
        background-size: 14px auto;
        border-radius: 50%;
        z-index: 2;
        -webkit-animation: bounce 2s infinite 2s;
        animation: bounce 2s infinite 2s;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        transform: scale(1)
    }

    .scroll-down:before {
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 6px);
        transform: rotate(-45deg);
        display: block;
        width: 12px;
        height: 12px;
        content: "";
        border: 2px solid white;
        border-width: 0px 0 2px 2px;
    }

    @keyframes bounce {

        0%,
        100%,
        20%,
        50%,
        80% {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        60% {
            -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }
}


.modal-body {
    input {
        width: 100%;
        padding: 10px;

    }

    button {
        background: var(--secondary);
        color: var(--main);
        border: none;
        padding: 5px;
        border-radius: 4px;
    }
}

.se4 {
    height: 100vh;

    .wr {
        height: 100%;
        align-items: center;
    }
}

.exe,
.fo {
    background-color: black;
    color: white;
    padding: 30px 40px 80px 40px;
    border-radius: 10px;
    min-width: 350px;
    text-align: center;

    h2 {
        font-size: 52px;
    }

    ol {
        padding-top: 20px;
        text-align: start;

        li {
            color: white;
            font-size: 28px;
        }
    }
}

.se5 {
    h2 {
        margin-right: 80px;
        font-size: 52px;
    }

    form {

        border-radius: 10px;

        input {
            padding: 10px 20px;
            margin-bottom: 10px;
            background-color: black;
            color: white;

            &::placeholder {
                color: var(--secondary-dark);
            }
        }

        button {
            color: var(--secondary-dark);
            background-color: rgb(0, 0, 0);
            margin-left: 5px;
            padding: 5px 15px;
        }

    }
}

.footer {
    width: 100%;
    align-items: center;
    align-content: center;
    background-color: var(--secondary-dark);
    padding: 50px 0;
    margin-top: 100px;

    a {
        margin: 0 10px;


        i {
            color: black;
            font-size: 36px;
            transition: .4s all ease-in-out;

            &:hover {
                color: white;

            }

        }
    }
}

@media screen and (max-width:790px) {
    .navbar {
        background-color: rgba(0, 0, 0, 0.551);
        width: 107%;



        .navbar-brand {
            font-size: 18px;
        }

    }

    .search {
        margin-top: 50px;
    }
}

@media screen and (max-width:1280px) {

    .search {
        margin-right: 10px;
    }

    .navbar {
        justify-content: space-around !important;

    }

    .navbar-brand {
        font-size: 38px !important;
    }

    .nav-item {
        a {
            font-size: 14px;

        }
    }

    .exe,
    .fo {
        background-color: black;
        color: white;

        border-radius: 10px;
        min-width: 250px;
        text-align: center;

        h2 {
            font-size: 32px;
        }

        ol {
            padding-top: 10px;
            text-align: start;

            li {
                color: white;
                font-size: 18px;
            }
        }
    }

}